:root {
  --color-primary: #3e7256;
  --color-secondary: #3e4072;
  --color-tertiary: #723e5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  font-family: "Source Serif 4", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  padding: 1rem;
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  text-align: center;
}

h3 {
  margin-top: 1rem;
}

.header {
  padding: 0 3rem;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 3000;
}

.honeypot-field {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  font-size: 1.25rem;
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  font-weight: 500;
}

.btn {
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  background-color: transparent;
  color: var(--color-primary);
  /* text-decoration: underline; */
  text-decoration-color: var(--color-primary);
  text-underline-offset: 1px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  border-width: 0;
  border: 2px solid var(--color-primary);
  font-weight: 500;
  transition: all 0.3s;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 48px !important;
  width: 48px;
  border-radius: 50%;
  background-color: white;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1.2rem;
  border-width: 0;
  border: 2px solid var(--color-primary);
}

.btn:hover {
  background-color: var(--color-primary);
  color: white;
}

.btn:active {
  background-color: var(--color-secondary);
  color: white;
  border-color: var(--color-secondary);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(62, 114, 86, 0.4);
}

/* .nav-menu {
  padding-right: 10rem;
} */

.nav-img {
  width: 1.25rem;
  vertical-align: middle;
}

nav ul {
  display: inline-flex;
  list-style: none;
  gap: 2rem;
}

.splash-name {
  color: var(--color-primary);
  font-weight: 700;
  display: inline-block;
}

.contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-me,
.skills,
.projects,
.blog {
  padding-top: 5rem;
  padding-bottom: 25rem;
}

.section {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s ease-in 0.2s, opacity 0.5s ease-in 0.2s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
  /* Ensure no conflicting transitions are defined here */
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: flex-end;
  padding-top: 15rem;
  margin: 0 3rem;
}

.about-me h2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.about-me p {
  padding: 1rem;
  font-size: 2.5rem;
  align-content: center;
}

.about-me img {
  border-radius: 50%;
  width: 25rem;
  /* padding: 1rem; */
  border: 4px solid;
  border-color: var(--color-primary);
  cursor: pointer;
}

.skills-list {
  padding-top: 2.5rem;
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-icon {
  max-width: 75px;
  margin: 1.5rem;
  opacity: 0; /* Start invisible */
  transform: translateX(100%); /* Start off-screen */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.skills-icon.slide-in {
  opacity: 1;
  transform: translateX(0); /* Move to final position */
}

footer {
  text-align: center;
  padding: 1rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin: 1.5rem auto;
  z-index: 2000;
  width: 80%;
}

.project-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  /* border: 1px solid; */
  /* border-color: #3e7256; */
  box-shadow: 0px 0px 5px #bdc1c5;
  background: white;
  /* width: 380px; */
}

.project-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 1010;
  overflow-y: auto;
  /* backdrop-filter: blur(10px); */
}

.project-modal-content {
  margin: 1rem;
}

.project-text-full p {
  line-height: 1.5;
  margin: 2rem;
  font-weight: 400;
}

.project-img-preview {
  width: 100%;
  max-height: 195px;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.img-modal {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.project-box a {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  font-size: larger;
}

.project-box p {
  font-size: large;
  margin: 1rem;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  backdrop-filter: blur(4px);
  z-index: 1000;
}

.global-overlay {
  position: static;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 1000;
}

.project-text {
  margin: 1rem;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.project-skills {
  width: auto;
  margin: 1rem auto;
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

/* .blog {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin: 1.5rem auto;
  width: 80%;
}

.blog-image {
  width: 100%;
  /* height: 250px; */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.blog-overview {
  margin: 10px 0 20px;
  line-height: 30px;
}

/* .btn.dark {
  border: 2px solid;
  border-color: #3e7256;
  background: #ffffff;
  color: #000000;
} */

.inputContainer {
  display: flex;
  flex-direction: column;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  margin: 0 auto;
}

.contact-info {
  margin: 1rem auto;
}

.contact-line {
  margin-bottom: 2rem;
}

.contact-line a {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

form label {
  font-weight: 500;
  margin: 0.5rem 0;
}

form input[type="text"],
form input[type="email"],
form textarea {
  border: 2px solid;
  border-color: var(--color-primary);
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: transparent;
}

.start-bouncing {
  animation: bounce 0.4s ease-in 1;
}

@keyframes bounce {
  20% {
    transform: translateY(-2rem);
  }

  40% {
    transform: none;
  }
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 55rem) {
  nav {
    display: none;
  }

  h2 {
    text-align: center;
  }
  .about-me {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    align-items: center;
  }
  .about-me p {
    font-size: 2rem;
    text-align: center;
  }
  .about-me img {
    max-width: 70%;
  }

  .skills-list {
    justify-content: center;
  }

  .about-me,
  .skills,
  .projects,
  .blog,
  .contact {
    padding: 5rem 0;
  }

  .project-grid,
  .blog-grid {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .project-modal {
    max-width: none;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
  }
  .project-links {
    align-items: center;
  }
  .img-modal {
    width: auto;
  }
}
